<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cars">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DisplayCars">
        <activity android:name=".AdvanceActivity"
            android:label="@string/advanceLabel">
        </activity>
        <activity android:name=".ImageActivity"
            android:label="@string/CarImage"/>
        <activity android:name=".HintActivity"
            android:label="@string/Hint"/>
        <activity android:name=".CarMakeActivity"
            android:label="@string/carMakeLabel"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>